<section class="filters">
  <div class="fixed">
    <h3>{{totalRestaurants}} Available Restaurants</h3>
    <span class="back" (click)="closeFilter.emit()">
      <span>Hide</span>
    </span>
    <form [formGroup]="form">
      <!-- <pre> {{form.value | json }}</pre> -->
      <div class="form-group">
        <label>Restaurant</label>
        <div class="has-icon" style="display: flex;">
          <input formControlName="name" style="flex: 1;" placeholder="ex: The Red Room"/>
          <i class="fa fa-search left" aria-hidden="true"></i>
        </div>
      </div>
      <div class="form-group">
        <label>Neighbourhoods</label>
        <div class="has-icon">
          <select formControlName="neighbourhoods">
            <option value="any" selected>Any</option>
            <option *ngFor="let neighbourhood of neighbourhoods" [value]="neighbourhood">{{neighbourhood}}</option>
          </select>
          <i class="fa fa-map-marker left" aria-hidden="true"></i>
          <i class="fa fa-chevron-down right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="form-group">
        <label>Sort By</label>
        <div class="has-icon">
          <select formControlName="sortBy">
            <option val="">Name - Asc</option>
            <option val="">Name - Desc</option>
            <option val="">Yelp Rating - Desc</option>
            <option val="">Yelp Rating - Asc</option>
          </select>
          <i class="fa fa-sort left" aria-hidden="true"></i>
          <i class="fa fa-chevron-down right" aria-hidden="true"></i>
        </div>
      </div>
      <fieldset class="availability">
        <label>Availability</label>
        <div class="form-group" [class.active]="lunch.value">
          <span>Lunch</span>
          <input type="checkbox" [formControl]="lunch"/>
          <i class="fa" (click)="lunch.setValue(!lunch.value)"
          [class.fa-square-o]="!lunch.value" [class.fa-check-square-o]="lunch.value" aria-hidden="true"></i>
        </div>
        <div class="form-group" [class.active]="dinner.value">
          <span>Dinner</span>
          <input type="checkbox" formControlName="dinner"/>
          <i class="fa" (click)="dinner.setValue(!dinner.value)"
          [class.fa-square-o]="!dinner.value" [class.fa-check-square-o]="dinner.value" aria-hidden="true"></i>
        </div>
      </fieldset>
      <fieldset class="preferences" formGroupName="preferences">
        <label>Preferences</label>
        <div class="form-group" [class.active]="accessible.value">
          <span>Accessible Restaurant</span>
          <input type="checkbox" formControlName="accessible"/>
          <img (click)="accessible.setValue(!accessible.value)" src="{{ '/assets/icons/accessible.svg' | staticp }}" height="32" width="32" />
        </div>
        <div class="form-group" [class.active]="vegetarian.value">
          <span>Vegetarian Menu Available</span>
          <input type="checkbox" formControlName="vegetarian"/>
          <img (click)="vegetarian.setValue(!vegetarian.value)" src="{{ '/assets/icons/spinach.svg' | staticp }}" height="32" width="32"/>
        </div>
        <div class="form-group" [class.active]="vegan.value">
          <span>Vegan Menu Available</span>
          <input type="checkbox" formControlName="vegan"/>
          <img (click)="vegan.setValue(!vegan.value)" src="{{ '/assets/icons/basil.svg' | staticp }}" height="32" width="32" />
        </div>
        <div class="form-group" [class.active]="local.value">
          <span>Locally Sourced Menu</span>
          <input type="checkbox" formControlName="local"/>
          <img (click)="local.setValue(!local.value)" src="{{ '/assets/icons/farm.svg' | staticp }}" height="32" width="32" />
        </div>
      </fieldset>
      <fieldset class="ratings" ormGroupName="rating">
        <div class="form-group">
          <label>Average Yelp Rating</label>
          <div class="rating">
            <p class="4-and-up" (click)="yelpRating.setValue(4)" [class.active]="yelpRating.value === 4">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              & Up
            </p>
            <p class="3-and-up" (click)="yelpRating.setValue(3)" [class.active]="yelpRating.value === 3">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              & Up
            </p>
            <p class="2-and-up" (click)="yelpRating.setValue(2)" [class.active]="yelpRating.value === 2">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              & Up
            </p>
          </div>
        </div>
        <!-- <div class="form-group">
          <label>Average Google Review</label>
          <div class="ratings">
            <img src="https://mattpua.github.io/its-licious/assets/icons/full-star.svg" height="16" width="16" />
          </div>
        </div> -->
      </fieldset>
      <div class="form-group">
        <label>Cuisines</label>
        <div class="has-icon">
          <div class="type-ahead">
            <div class="wrapper">
              <div class="selected-matches">
                <span *ngFor="let match of selectedCuisines" class="pill" (click)="removeSelection(mach)">
                  <span>{{match}}</span>
                  <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </span>
                <span *ngIf="selectedCuisines.length > 0" class="pill clear-pill" (click)="removeAllSelected()">
                  <span>Clear All</span>
                  <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </span>
              </div>
              <input formControlName="cuisines" #typeAheadRef placeholder="ex: Chinese"/>
            </div>
            <ng-container *ngIf="form.get('cuisines').value">
            <ul class="match-suggestions">
                <li class="suggestion" tabindex="0" *ngFor="let cuisine of typeAheadMatches"
                (click)="selectMatch(cuisine)" [class.selected]="selectedCuisines.indexOf(cuisine) >= 0">
                  {{cuisine}}
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </li>
                <li class="suggestion" *ngIf="typeAheadMatches.length === 0">No Cuisines Found</li>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
    </form>
  </div>

</section>
