<section class="filters">
  <h3>208 Restaurants</h3>

  <form>
    <div class="form-group">
      <label>Restaurant</label>
      <div class="has-icon">
        <input placeholder="Restaurant"/>
        <img class="left" src="/assets/icons/search.svg" height="16" width="16" />
        <!-- <object class="left" data="/assets/icons/search.svg" alt="search" type="image/svg+xml"></object> -->
      </div>
    </div>
    <div class="form-group">
      <label>Neighbourhoods</label>
      <div class="has-icon">
        <select>
          <option *ngFor="let neighbourhood of winterlicious.neighbourhoods" [value]="neighbourhood">{{neighbourhood}}</option>
        </select>
        <img class="left" src="/assets/icons/map-marker.svg" height="16" width="16" />
        <img class="right" src="/assets/icons/chevron-down.svg" height="16" width="16" />
        <!-- <object class="left" data="/assets/icons/map-marker.svg" alt="map icon" type="image/svg+xml"></object> -->
        <!-- <object class="right" data="/assets/icons/chevron-down.svg" alt="chevron down" type="image/svg+xml"></object> -->
      </div>
    </div>
    <div class="form-group">
      <label>Sort By</label>
      <div class="has-icon">
        <select>
          <option val="">Name - Asc</option>
          <option val="">Name - Desc</option>
          <option val="">Yelp Rating - Desc</option>
          <option val="">Yelp Rating - Asc</option>
        </select>
        <img class="left" src="/assets/icons/sort.svg" height="16" width="16" />
        <img class="right" src="/assets/icons/chevron-down.svg" height="16" width="16" />
        <!-- <object class="left" data="/assets/icons/sort.svg" alt="sort" type="image/svg+xml"></object> -->
        <!-- <object class="right" data="/assets/icons/chevron-down.svg" alt="chevron down" type="image/svg+xml"></object> -->
      </div>
    </div>
    <fieldset>
      <div class="form-group">
        <label>Lunch</label>
      </div>
      <div class="form-group">
        <label>Dinner</label>
      </div>
    </fieldset>
    <fieldset class="preferences">
      <label>Preferences</label>
      <div class="form-group active">
        <span>Accessible Restaurant</span>
        <img src="/assets/icons/accessible.svg" height="32" width="32" />
        <!-- <object data="/assets/icons/accessible.svg" alt="accessible" type="image/svg+xml"></object> -->
      </div>
      <div class="form-group">
        <span>Vegetarian Menu Available</span>
        <img src="/assets/icons/spinach.svg" height="32" width="32"/>
        <!-- <object data="/assets/icons/spinach.svg" alt="Vegetarian Menu" type="image/svg+xml"></object> -->
      </div>
      <div class="form-group">
        <span>Vegan Menu Available</span>
        <img src="/assets/icons/basil.svg" height="32" width="32" />
        <!-- <object data="/assets/icons/basil.svg" alt="Vegan Menu" type="image/svg+xml"></object> -->
      </div>
      <div class="form-group">
        <span>Locally Sourced Menu</span>
        <img src="/assets/icons/farm.svg" height="32" width="32" />
        <!-- <object data="/assets/icons/farm.svg" alt="Locally Sourced Menu" type="image/svg+xml"></object> -->
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label>Average Yelp Rating</label>
        <div class="ratings">
          <img src="/assets/icons/full-star.svg" height="16" width="16" />
          <img src="/assets/icons/full-star.svg" height="16" width="16" />
          <img src="/assets/icons/full-star.svg" height="16" width="16" />
          <img src="/assets/icons/full-star.svg" height="16" width="16" />
          <img src="/assets/icons/full-star.svg" height="16" width="16" />
        </div>
      </div>
      <!-- <div class="form-group">
        <label>Average Google Review</label>
        <div class="ratings">
          <img src="/assets/icons/full-star.svg" height="16" width="16" />
        </div>
      </div> -->
    </fieldset>
    <div class="form-group">
      <label>Cuisines</label>
      <div class="has-icon">
        <input placeholder="all cuisines"/>
        <img class="left" src="/assets/icons/search.svg" height="16" width="16" />
        <!-- <object class="left" data="/assets/icons/search.svg" alt="search" type="image/svg+xml"></object> -->
      </div>
    </div>
  </form>
</section>
