@import '../../../master';

h3 {
  color: $font-gray;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.filters {
  @extend .box-shadow;
  background-color: white;
  padding: 0 10%;
  border: 1px solid black;
  border-left: 0;
  border-top: 0;
  font-weight: bold;
  color: $font-gray;
  height: 100%;
}


label {
  text-decoration: underline;
  font-size: 1.2rem;
}


input, select {
  @include border-radius(2px);
  background-color: white;
  border: 2px solid $primary-yellow;
  padding: 10px;
  padding-left: 30px;
  padding-right: 0;
  margin-top: 10px;

  &:focus, &:hover {
    border-color: $active-yellow;
    outline-color: $active-yellow;
  }

  width: 100%;
  font-weight: bold;
  color: $font-gray;
}

// input::placeholder {
//   font-weight: lighter;
// }

// input::-webkit-input-placeholder {
//   font-weight: lighter;
// }
// input::-moz-placeholder {
//   font-weight: lighter;
// }
// input::-ms-input-placeholder {
//   font-weight: lighter;
// }
// input:-moz-placeholder {
//   font-weight: lighter;
// }

select {
  webkit-appearance: none;
         -moz-appearance: none;
          appearance: none;
}

.has-icon {
  position: relative;

  img {
    position: absolute;
    top: 44%;
    height: 16px;
    width: 16px;
    &.left {
      left: 10px;
    }
    &.right {
      right: 10px;
    }
  }
}

.form-group {
  margin-bottom: 20px;
}

.preferences {
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      flex: 1;
    }
    object {
      height: 40px;
      width: 40px;
      opacity: 0.4;

      &:hover {
        cursor: pointer;
      }
    }

    &.active {
      object {
        opacity: 1.0;
      }
      span {
        color: $primary-yellow;
      }
    }
  }
}

.ratings {
  object {
    height: 24px;
    width: 24px;
  }
}
