<section class="gallery">
  <ng-container *ngIf="hasDoneInitialLoad">
    <h3 *ngIf="restaurants.length === 0">No Restaurants found matching that criteria</h3>
    <h3 class="help-tip" *ngIf="restaurants.length">Click a card to see more details</h3>
  </ng-container>
  <h3 *ngIf="!hasDoneInitialLoad && restaurants.length === 0">Searching for Summerlicious Restaurants</h3>
  <app-restaurant-card *ngFor="let restaurant of restaurants; let i = index;" [restaurant]="restaurant" [index]="i" (selectCard)="selectCard.emit(restaurant)" [isSelected]="selectedRestaurant === restaurant"></app-restaurant-card>
  <!-- We use these empty divs to just align items in case theres not enough items to make a full row -->
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</section>
