@import '../../../master';

nav {
  // @extend .box-shadow;
  background-color: $primary-yellow;
  display: flex;
  justify-content: space-between;
  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    flex: 1;
  }
  .edition {
    @media screen and (max-width: $bp-mobile-width) {
      display: none;
    }
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
  }

  .logo {
    // width: 30%;
    margin-left: 10px;
    height: $header-height;
  }
  .links {
    display: flex;
    align-items: center;
    /* flex: 1; */
    justify-content: flex-end;
    width: 15%;
    margin-right: 30px;
    color: white;

    cursor: pointer;
    @media (max-width: $bp-mobile-width) {
      margin-right: 10px;
    }

    a:hover, a:focus {
      font-weight: bold;
      color: $font-gray;
    }

    .menu-mobile {
      @media(min-width: $bp-mobile-width) {
        display: none;
      }
      height: 16px;
      width: 16px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      @include border-radius(50%);
      i {
        font-size: 1.5rem;
        color: $primary-yellow;
      }
    }
    @media(max-width: $bp-mobile-width) {
      .menu-list {
        &:not(.show-links-mobile) {
          display: none;
        }
        position: absolute;
        background-color: $primary-yellow;
        flex-direction: column;
        right: 0;
        left: 0;
        bottom: -70px;
        align-items: center;
        li {
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          padding: 10px;
          width: 100%;
          text-align: center;
        }

        .divider {
          display: none;
        }
      }
    }
  }
}
header {
  position: fixed;
  width: 100%;
  z-index: 4;
  @extend .box-shadow;
}
