<header>
  <nav>
    <a href="https://www.its-licious.ca">
      <img src="{{ '/assets/its-licious-new.svg' | staticp }}" alt="Logo" class="logo"/>
    </a>
    <h1 class="edition">
      Summerlicious 2019 Edition!
    </h1>
    <div class="links">
      <!-- <span class="menu-mobile" (click)="showLinksMobile = !showLinksMobile">
        <i class="fa fa-bars " aria-hidden="true"></i>
      </span>
      <ul class="menu-list" [class.show-links-mobile]="showLinksMobile">
        <li (click)="showAboutModal.emit()"><a>About</a></li>
        <li class="divider">|</li>
        <li (click)="showCreditsModal.emit()"><a>Credits</a></li>
      </ul> -->
    </div>
  </nav>
</header>
