<p class="name">{{restaurant.lic_restName}}</p>
<div class="card-summary">
  <div class="inner-content">
    <div class="left">
      <div class="cuisines">
        <ng-container *ngFor="let cuisine of restaurant.lic_cuisine">
          <span>{{cuisine}}</span>
        </ng-container>
      </div>
      <span class="price">
        {{restaurant.displayPrice}}
      </span>
      <div class="preferences">
        <img *ngIf="restaurant.lic_accessible" src="{{ '/assets/icons/accessible.svg' | staticp }}" height="32" width="32" />
        <img *ngIf="restaurant.lic_veggie" src="{{ '/assets/icons/spinach.svg' | staticp }} " height="32" width="32" />
        <img *ngIf="restaurant.lic_vegan" src="{{ '/assets/icons/basil.svg' | staticp }}" height="32" width="32"/>
        <img *ngIf="restaurant.lic_local" src="{{ '/assets/icons/farm.svg' | staticp }}" height="32" width="32" />
      </div>
    </div>
    <div class="right">
      <app-yelp-rating [yelpData]="restaurant.yelpData"></app-yelp-rating>
    </div>
  </div>
</div>
