<p class="name">{{restaurant.lic_restName}}</p>
<div class="card-summary">
  <div class="inner-content">
    <div class="left">
      <div class="cuisines">
        <ng-container *ngFor="let cuisine of restaurant.lic_cuisine">
          <span>{{cuisine}}</span>
        </ng-container>
      </div>
      <span class="price">
        {{restaurant.displayPrice}}
      </span>
      <div class="preferences">
        <img src="/assets/icons/accessible.svg" height="32" width="32" />
        <img src="/assets/icons/spinach.svg" height="32" width="32" />
        <img src="/assets/icons/basil.svg" height="32" width="32"/>
        <img src="/assets/icons/farm.svg" height="32" width="32" />
        <!--
          <object data="/assets/icons/accessible.svg" alt="accessible" type="image/svg+xml" height="16" width="16"></object>
          <object data="/assets/icons/spinach.svg" alt="Vegetarian Menu" type="image/svg+xml" height="16" width="16"></object>
          <object data="/assets/icons/basil.svg" alt="Vegan Menu" type="image/svg+xml" height="16" width="16"></object>
          <object data="/assets/icons/sprout.svg" alt="Locally Sourced Menu" type="image/svg+xml" height="16" width="16"></object> -->
      </div>
    </div>
    <div class="right">
      <app-yelp-rating [yelpData]="restaurant.yelpData"></app-yelp-rating>
    </div>
  </div>
</div>
