@import './../../../master';


.images, .location{
  padding: 5px;
}

.images {
  flex-shrink: 0;
  img {
    height: 220px;
    min-height: 220px;
    max-height: 220px;
    width: 100%;
  }
  // max-width: 300px;
}



.restaurant {
  border: 1px solid $border-gray;
  @media screen and (min-width: 1200px) {
    margin: 20px;
  }
  @include border-radius(2px);
  @extend .box-shadow;
  flex: 1;
  flex-shrink: 0;
  color: $font-light-gray;
  max-width: 300px;
  min-width: 300px;
  @media screen and (max-width: $bp-mobile-width) {
    max-width: 320px;
    min-width: 320px;
    margin-bottom: 20px;
  }
  min-height: 340px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.location {
  border-top: 1px solid $border-gray;
  display: flex;
  background-color: $border-gray;
  color: white;
  flex-shrink: 0;
  align-items: center;
}

.index {
  position: absolute;
  background-color: $background-gray;
  // border: 1px solid $pri;
  top: -10px;
  left: -10px;
  color: white;
  @extend .box-shadow;
  width: 30px;
  height: 30px;
  line-height: 30px;
  @include border-radius(50%);
  text-align: center;
}


app-card-summary {
  flex: 1 0 auto;
}

.restaurant:hover, .restaurant.selected {
  .index, .location, ::ng-deep .name {
    background-color: $primary-yellow;
  }
}
