@import './../../../master';
.attribution {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review {
  border-bottom: 1px dashed $border-gray;
}

.read-more {
  color: blue;
}

.top-row {
  display: flex;
  justify-content: space-between
}
