@import './../../../master';


.fixed-info, .restaurant-expanded {
  width: $expanded-width;
  @media(max-width: $bp-mobile-width) {
    width: 100%;
  }
}
.restaurant-expanded {
  // border: 1px solid $border-gray;
  position: fixed;
  top: $header-height;
  background-color: white;
  overflow: hidden;
  height: 100%;
  @media screen and (max-width: $bp-mobile-width) {
    overflow: scroll;
  }
  @media screen and (min-width: $bp-mobile-width) {
    @include box-shadow(0, 3px, 6px, null, rgba(0,0,0, 0.16));
  }
}

.box {
  margin: 20px 10px 20px 0;
  border: 1px solid $border-gray;
  @include border-radius(5px);
  .title {
    background-color: $primary-yellow;
    color: white;
    font-size: 1.3rem;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
  }
  .content {
    line-height: 3rem;
  }
  .title, .content {
    padding: 5px 10px;
  }
}


.menu .content {
  text-align: center;
}

:host ::ng-deep app-card-summary {
  font-size: 1.5rem;
  .name {
    background-color: white;
    color: initial;
    border: 0;
    font-weight: bold;
  }
}

.fixed-info {
  display: flex;
  @extend .box-shadow;
  > .margin {
    flex-shrink: 0;
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
  }
  > .content {
    flex: 11;
    padding: 10px 10px 10px 0;
    margin-right: 10px;
  }
  @media screen and (min-width: $bp-mobile-width) {
    position: fixed;
    border-bottom: 1px solid $border-gray;
  }
  right: 0;
  z-index: 1;
  background-color: white;

  .close {
    font-size: 2rem;
    &:hover {
      color: $primary-yellow;
      cursor: pointer;
    }
  }
}
.scrollable {
  display: flex;
  position: relative;
  > .margin {
    flex-shrink: 0;
    flex: 1;

    @media(max-width: $bp-mobile-width) {
      display: none;
    }
  }
  > .content {
    @media (max-width: $bp-mobile-width) {
      margin-left: 10px;
    }
    flex: 11;
    transition: 1s;
    height: 100%;
    overflow: auto;
  }
  @media screen and (max-width: $bp-mobile-width) {
    overflow: hidden;
  }
  @media screen and (min-width: $bp-mobile-width) {
    overflow-y: auto;
    top: $expanded-fixed-height;
    height: calc(100vh - 300px);
  }

}


.reservation {
  text-align: center;
  .title {
    font-size: 2rem;
    font-weight: normal;
    color: $font-gray;
  }
}

#map {
  height: 400px;
}

.hide {
  height: 0;
  overflow: hidden;
  #map {
    height: 0;
  }
}

// hide scrollbar
.fixed-info, .restaurant-expanded, .scrollable {
  right: 0;
}
