<section class="restaurant-expanded">
  <div class="fixed-info">
    <div class="margin">
      <img class="back" src="/assets/icons/chevron-left.svg" alt="close" height="32" width="32" (click)="resetSelectedRestaurant.emit()"/>
    </div>
    <div class="content">
      <app-card-summary [restaurant]="restaurant"></app-card-summary>
      <app-contact-info [restaurant]="restaurant"></app-contact-info>
    </div>
  </div>
  <div class="scrollable">
    <div class="margin"></div>
    <div class="content">
      <div class="reservation">
        <ng-container *ngIf="restaurant.hasOpenMenu">
          <h3 class="title">
            Make a Reservation with
            <a href="https://www.opentable.com/toronto-restaurants" target="_blank"><img src="/assets/open_table.png" alt="Open Table" height="40" /></a>
          </h3>
          <a [class.disabled]="!restaurant.lic_lunchlink" class="btn btn-primary btn-large" [href]="restaurant.lic_lunchlink" target="_blank">Lunch</a>
          <a [class.disabled]="!restaurant.lic_dinnerlink" class="btn btn-primary btn-large" [href]="restaurant.lic_dinnerlink" target="_blank">Dinner</a>
        </ng-container>
        <ng-container *ngIf="!restaurant.hasOpenMenu">
          <h3 class="title">Make a Reservation, call now:</h3>
          <a class="btn btn-primary btn-large" href="tel:{{restaurant.lic_dinnerlink}}" target="_blank">{{ restaurant.lic_phone}}</a>
        </ng-container>
      </div>
      <div class="profile box">
        <div class="title">Profile</div>
        <div class="content" [innerHtml]="restaurant.lic_profile | keepHtml"></div>
      </div>
      <div class="reviews box">
        <div class="title">Reviews</div>
        <div class="content">
          <app-social-review *ngFor="let review of reviews" [review]="review"></app-social-review>
          <!-- <div>
            <img class="previous" src="/assets/icons/arrow-left.svg" alt="previous Review" height="16" width="16"/>
            <span> /{{ reviews.length }} Reviews</span>
            <img class="next" src="/assets/icons/arrow-right.svg" alt="next review" height="16" width="16"/>
          </div> -->
        </div>
      </div>
      <div class="menu box">
        <div class="title">Menu</div>
        <div class="content">
          <!-- <ng-container *ngFor="let menuLine of restaurant.lic_dinnermenu">
            <p [innerHtml]="menuLine | keepHtml"></p>
          </ng-container> -->
        </div>
      </div>
      <div class="neighbourhood box">
        <div class="title">Neighbourhood</div>
        <div class="content"></div>
      </div>
    </div>
  </div>
</section>
