<main>
  <app-header></app-header>
  <section class="content">
    <span class="floating" (click)="mobileShowFilter = true">
      <i class="fa fa-filter" aria-hidden="true"></i>
    </span>

    <app-filter [class.show-mobile]="mobileShowFilter" [neighbourhoods]="winterlicious.neighbourhoods" [cuisines]="winterlicious.cuisines"
    (closeFilter)="mobileShowFilter = false"
    (filterChanged)="onFilterChanged($event)" [totalRestaurants]="restaurants.length"></app-filter>
    <div class="scrollable">
      <div class="buttons" [class.is-absolute]="showMap">
        <button class="btn" [class.active]="!showMap" (click)="showMap = false; selectedRestaurant = null;">Gallery View</button>
        <button class="btn" [class.active]="showMap" (click)="showMap = true; selectedRestaurant = null;">Map View</button>
      </div>

      <app-gallery *ngIf="!showMap" (selectCard)="onSelectCard($event)" [restaurants]="restaurants" [selectedRestaurant]="selectedRestaurant"></app-gallery>
      <app-map *ngIf="showMap" (selectCard)="onSelectCard($event)" [restaurants]="restaurants" [selectedRestaurant]="selectedRestaurant"></app-map>
    </div>
    <app-restaurant-expanded *ngIf="selectedRestaurant" [restaurant]="selectedRestaurant" (resetSelectedRestaurant)="selectedRestaurant = null" ></app-restaurant-expanded>
  </section>
</main>
