$primary-yellow: #F7B464;
$background-light-gray: #F8F9FA;
$background-white: #777777;
$background-gray: #707070;
$font-gray: #818D9B;
$font-light-gray: #707070;

$active-yellow: #FA9C2B;

$border-gray: #707070;


$btn-primary-active-yellow: #f69119;
$btn-disabled-gray: #DEDEDE;
