@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/Gotham-Book.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  font-style: normal;
  src: url(/assets/fonts/Gotham-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 100;
  font-style: normal;
  src: url(/assets/fonts/Gotham-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  font-style: normal;
  src: url(/assets/fonts/Gotham-Medium.otf) format('opentype');
}
