/* You can add global styles to this file, and also import other style files */

@import 'fonts';
@import 'normalize';

*, input, select {
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

html {
  font-size: 12px;
}
